/* Serendipity Serendipity Morning — Firefox userChrome.css */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
  --toolbar-bgcolor: #f6f7fb !important;
  --toolbar-color: #3f4363 !important;
  --lwt-accent-color: #e58678 !important;
  --lwt-text-color: #3f4363 !important;
  --tab-selected-bgcolor: #eaebee !important;
  --arrowpanel-background: #eaebee !important;
  --arrowpanel-color: #3f4363 !important;
}

#navigator-toolbox {
  background-color: #f6f7fb !important;
}

.tab-background[selected="true"] {
  background-color: #eaebee !important;
}
